body {
    h3,
    h4 {
        margin: 5px;
    }
    button {
        border: none;
        background-color: rgb(40, 24, 5);
        color: aliceblue;
        padding: 20px;
        border-radius: 30px;
        font-size: 16px;
    }
    .container {
        width: 600px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
        .box {
            width: 190px;
            height: 190px;
            border: 1px solid gray;
            box-sizing: border-box;
            border-radius: 50%;
            margin: 5px;
            &.mole {
                background-color: rgb(92, 87, 7);
            }
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
